BorderPane {
    -fx-background-image: url("clock.jpg"); // geen spatie voor ( !
    -fx-background-size: cover;
    
    -fx-padding: 10;
}

.alarm {
    -fx-background-color: rgba(127,0,0,0.8) ;
}

Label {
    -fx-text-fill: white;
    -fx-background-color: rgba(0,127,0,0.5) ; // geen spatie voor ( !
    -fx-background-radius: 10;
    
    -fx-font-size: 48;
    -fx-font-style: italic;
    -fx-font-family: serif;
    -fx-padding: 5 50 5 50;
}

Button {
    -fx-background-color: rgba(245,245,205,0.4); //linear-gradient(beige 0%, darkkhaki 50%, beige 100%) ;
    -fx-background-radius: 10pt;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 5 20 5 20;
}