.alarm Label {
    -fx-text-fill: red;
}

.alarm Label.errorLabel {
    -fx-text-fill: red;
}

.alarm TextField {
    /* -fx-background-color: lightpink; */
    -fx-border-color: red;
}

Label {
    -fx-text-fill: black;
}

Label.errorLabel {
    -fx-text-fill: transparent;
}